In [14]:
mane_path="/mnt/NAS_PROJECT/vol_Phucteam/CONGNGUYEN/pipeline/nf-core-buildreference/bedfiles/MANE.GRCh38.v1.3.ensembl_genomic.gtf"
mane = read.csv(mane_path, sep="\t", header=F)
dim(mane)

#Count the number of each value in V3
table(mane$V3)

#Extract feature
mane_exon = mane[mane$V3 == "exon",]
mane_gene = mane[mane$V3 == "gene",]
mane_cds = mane[mane$V3 == "CDS",]

#Only take V1,V3,V4,V5
mane_exon = mane_exon[,c(1,4,5)]
mane_gene = mane_gene[,c(1,4,5)]
mane_cds  = mane_cds[,c(1,4,5)]

#Write to file
write.table(mane_exon, file="mane_exon.bed", sep="\t", row.names=F, col.names=F,quote = F)
write.table(mane_gene, file="mane_gene.bed", sep="\t", row.names=F, col.names=F,quote = F)
write.table(mane_cds, file="mane_cds.bed", sep="\t", row.names=F, col.names=F,quote = F)

[1] 524198      9

        CDS        exon        gene start_codon  stop_codon  transcript
     193930      204311       19288       19385       19372       19352
        UTR
      48560

In [11]:
head(mane_exon)
head(mane_gene)
head(mane_cds)

   V1   V3   V4      V5
3  chr1 exon 3069203 3069296
6  chr1 exon 3186125 3186474
8  chr1 exon 3244087 3244137
10 chr1 exon 3385152 3385286
12 chr1 exon 3396491 3396593
14 chr1 exon 3402791 3402998

    V1   V3   V4       V5
1   chr1 gene  3069168  3438621
41  chr1 gene  2403964  2413797
59  chr1 gene 10472288 10630758
83  chr1 gene  2425980  2505532
133 chr1 gene  9292894  9369532
145 chr1 gene  9035106  9088478

   V1   V3  V4      V5
4  chr1 CDS 3069260 3069296
7  chr1 CDS 3186125 3186474
9  chr1 CDS 3244087 3244137
11 chr1 CDS 3385152 3385286
13 chr1 CDS 3396491 3396593
15 chr1 CDS 3402791 3402998